.item-mgmt-page__page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.item-mgmt-page__list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item-mgmt-page__item-wrapper {
    border: 1px solid black;
    margin-right: 4px;
    margin-top: 4px;
    padding: 8px;
    width: 100%;
}
